<!DOCTYPE html>
<html lang="en">
<head>
    <title>GLDEMO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/home.css}" rel="stylesheet" />
</head>

<body>
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a href="getfile" class="w3-bar-item w3-button w3-padding-large w3-hide-small">UPLOAD</a>
        <a href="query" class="w3-bar-item w3-button w3-padding-large w3-hide-small">QUERY</a>
        <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
    </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="getfile" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">UPLOAD</a>
    <a href="query" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">QUERY</a>
<!--    <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>-->
</div>



<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin: 46px 0 50px 0;min-height: 700px;">

    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
        <h1 style="color: white;">Welcome</h1>

        <form class="w3-col m6" method="GET" action="/getfile" enctype="multipart/form-data">
            <input class="w3-button w3-white w3-round-xlarge home_btn" type="submit" value="Upload" />
        <!--        <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>-->
        </form>

        <form class="w3-col m6" method="GET" action="/query" enctype="multipart/form-data">
            <input class="w3-button w3-white w3-round-xlarge home_btn" type="submit" value="Query" />
        </form>

    </div>

    <!-- End Page Content -->
</div>


</body>


<script>


    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }


</script>

</html>







<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--</html>-->